header {
    background: rgba(207, 103, 252, 0.904);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color:#ffffff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #9c55c5;
    animation: pulse;
    animation-duration: 2s;
  }
  
  h1{ color: #AC11FF ;
       text-align:center;
       font-family:Serif;
       font-size: 25;
     }
  
  h2{ color: #B966E6 ;
       font-family: Cursive;
    }
  
   h3{ color: #9139C0 ;
       font-family: Cursive;
    }
  
  p{ font-family: Cursive;
     font-size: 18;
     }  
  
  h1{ color: #AC11FF ;
       text-align:center;
       font-family:Serif;
       font-size: 40;
     }
  
  h2{ color: #B966E6 ;
       font-family: Cursive;
    }
  
   h3{ color: #9139C0 ;
       font-family: Cursive;
    }

     table {
        border: rgb(186, 117, 207) 5px solid;
        color: #fff;
      }
      th {
        background: rgb(171, 30, 226);
      }

 table th{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(255, 255, 255);

}

  table td{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: black;
      background-color: #fff;
  }

  ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18;
  }

  strong{
      color: #e100ff;
      text-decoration: underline;
  }

  